/*****Global Styling*****/
a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}

body {
	background-color: black;
	font-family: 'Questrial', sans-serif;
}

.container {
	position: relative;
	margin-bottom: 50px;
}

header {
	background-color: black;
	border-bottom: solid 1px #666;
	float: left;
	height: 200px;
	margin-bottom: 6px;
	position: fixed;
	width: 940px;
	z-index: 1;
}

/*****Home Page Styling*****/

header h1{
	color: #bbb;
	font-size: 70px;
	line-height: 59px;
	margin-top: 75px;
}

.thumbs {
	margin: 240px 0 100px 0;
}

.thumbs a {
	border: 0;
	border-radius: 0;
	max-height: 100%;
	padding: 0;
	overflow: hidden;
}

.thumbs a:hover {
	opacity: .7;
}

.thumbs li,.thumbs ul {
	margin: 0;
}

.thumbs li {
	width: 188px;
	height: 188px;
}

.thumbs img {
	max-width: 200%;
	max-height: 100%;
}

	/*footer*/

footer {
	margin-bottom: 100px;
}


/*****Individual Band Page styling (Global)*****/



	/*header*/
	
	
	
.banner {
	width: 940px;
	height: 250px;
	
}

.banner img {
	max-width:100%;
	position: fixed;
}

#rightarrow {
	position: absolute;
	top: 75px;
	left: 840px;
	height: 50%
}

#leftarrow {
	position: absolute;
	top: 75px;
}

#leftarrow:hover {
	opacity: .5;
}

#rightarrow:hover {
	opacity: .5;
}


	/*main*/


article {
	line-height: 28px;
	margin-top: 20px;
	width: 100%;
	-webkit-columns:2;
	-moz-columns:2;
}

main {
	margin-top: 250px;
}

p {
	color: white;
	margin: 0 0 20px;	
}

#title {
	float: right;
	height: 460px;
	margin-top: 30px;
	width: 460px;
}

#title h1 {
	color: white;
	line-height: 460px;
	margin: 0;
	text-align: center;
}

.span6 {
	margin: 30px 0 30px 0;
}



	/*footer*/
	
	

.home {
	color: white;
	float: right;
	font-size: 25px;
	padding-top: 20px;
	text-align: center;	
}



/*****Individual hover link colors*****/



#animal-collective .home:hover,
#animal-collective .home:active {
	color: #A83EE6;
}

#animal-collective #title h1:hover {
	background-color: #111;
	color: #A83EE6;
}

#antarctic .home:hover,
#antarctic .home:active {
	color: #ccffff;
}

#antarctic #title h1:hover {
	background-color: #111;
	color: #ccffff;
}

#baths .home:hover,
#baths .home:active {
	color: #08c;
}

#baths #title h1:hover {
	background-color: #111;
	color: #08c;
}

#battles .home:hover,
#battles .home:active {
	color: #ff7dbd;
}

#battles #title h1:hover {
	background-color: #111;
	color: #ff7dbd;
}

#dmst .home:hover,
#dmst .home:active {
	color: #cbaaff;
}

#dmst #title h1:hover {
	background-color: #111;
	color: #cbaaff;
}

#dosh .home:hover,
#dosh .home:active {
	color: #e6005c;
}

#dosh #title h1:hover {
	background-color: #111;
	color: #e6005c;
}

#fmtm .home:hover,
#fmtm .home:active {
	color: #ff1919;
}

#fmtm #title h1:hover {
	background-color: #111;
	color: #ff1919;
}

#fmtm #title h1 {
	line-height: 40px;
	padding: 190px 0 190px 0;	
}

#giraffes .home:hover,
#giraffes .home:active {
	color: #7beaa0;
}

#giraffes #title h1:hover {
	background-color: #111;
	color: #7beaa0;
}

#gybe .home:hover,
#gybe .home:active {
	color: #b54747;
}

#gybe #title h1:hover {
	background-color: #111;
	color: #b54747;
}


#gybe #title h1 {
	line-height: 40px;
	padding: 190px 0 190px 0;	
}

#health .home:hover,
#health .home:active {
	color: #e60000;
}

#health #title h1:hover {
	background-color: #111;
	color: #e60000;
}

#listener .home:hover,
#listener .home:active {
	color: #ff3300;
}

#listener #title h1:hover {
	background-color: #111;
	color: #ff3300;
}

#manman .home:hover,
#manman .home:active {
	color: #e0a3c2;
}

#manman #title h1:hover {
	background-color: #111;
	color: #e0a3c2;
}

#menomena .home:hover,
#menomena .home:active {
	color: #ff0000;
}

#menomena #title h1:hover {
	background-color: #111;
	color: #ff0000;
}

#mogwai .home:hover,
#mogwai .home:active {
	color: #c2e0ff;
}

#mogwai #title h1:hover {
	background-color: #111;
	color: #c2e0ff;
}

#muxmool .home:hover,
#muxmool .home:active {
	color: #ffb84d;
}

#muxmool #title h1:hover {
	background-color: #111;
	color: #ffb84d;
}

#neonindian .home:hover,
#neonindian .home:active {
	color: #ffdb4d;
}

#neonindian #title h1:hover {
	background-color: #111;
	color: #ffdb4d;
}

#nujabes .home:hover,
#nujabes .home:active {
	color: #ff8585;
}

#nujabes #title h1:hover {
	background-color: #111;
	color: #ff8585;
}

#oddnosdam .home:hover,
#oddnosdam .home:active {
	color: #ccc;
}

#oddnosdam #title h1:hover {
	background-color: #111;
	color: #ccc;
}

#protomen .home:hover,
#protomen .home:active {
	color: #7575ff;
}

#protomen #title h1:hover {
	background-color: #111;
	color: #7575ff;
}

#radiohead .home:hover,
#radiohead .home:active {
	color: #a38566;
}

#radiohead #title h1:hover {
	background-color: #111;
	color: #a38566;
}

#sufjanstevens .home:hover,
#sufjanstevens .home:active {
	color: #cc0000;
}

#sufjanstevens #title h1:hover {
	background-color: #111;
	color: #cc0000;
}

#sunsetrubdown .home:hover,
#sunsetrubdown .home:active {
	color: #45b4ff;
}

#sunsetrubdown #title h1:hover {
	background-color: #111;
	color: #45b4ff;
}

#tenebre .home:hover,
#tenebre .home:active {
	color: #e6e6b8;
}

#tenebre #title h1:hover {
	background-color: #111;
	color: #e6e6b8;
}

#microphones .home:hover,
#microphones .home:active {
	color: #3d001f;
}

#microphones #title h1:hover {
	background-color: #111;
	color: #3d001f;
}

#thexx .home:hover,
#thexx .home:active {
	color: #501935;
}

#thexx #title h1:hover {
	background-color: #111;
	color: #501935;
}

#tobacco .home:hover,
#tobacco .home:active {
	color: #ffdbdb;
}

#tobacco #title h1:hover {
	background-color: #111;
	color: #ffdbdb;
}

#toe .home:hover,
#toe .home:active {
	color: #f7f7d7;
}

#toe #title h1:hover {
	background-color: #111;
	color: #f7f7d7;
}

#washedout .home:hover,
#washedout .home:active {
	color: #daeeee;
}

#washedout #title h1:hover {
	background-color: #111;
	color: #daeeee;
}

#why .home:hover,
#why .home:active {
	color: #66ccff;
}

#why #title h1:hover {
	background-color: #111;
	color: #66ccff;
}


#wolfparade .home:hover,
#wolfparade .home:active {
	color: #ff4d94;
}

#wolfparade #title h1:hover {
	background-color: #111;
	color: #ff4d94;
}