/*****Global Styling*****/
a,
a:active,
a:hover,
a:visited {
	text-decoration: none;
}

body {
	background-color: black;
	font-family: 'Questrial', sans-serif;
}

.container {
	position: relative;
	margin-bottom: 50px;
}

header {
	background-color: black;
	border-bottom: solid 1px #666;
	float: left;
	height: 200px;
	margin-bottom: 6px;
	position: fixed;
	width: 940px;
	z-index: 1;
}

/*****Home Page Styling*****/

header h1{
	color: #bbb;
	font-size: 70px;
	line-height: 59px;
	margin-top: 75px;
}

.thumbs {
	margin: 240px 0 100px 0;
}

.thumbs a {
	border: 0;
	border-radius: 0;
	max-height: 100%;
	padding: 0;
	overflow: hidden;
}

.thumbs a:hover {
	opacity: .7;
}

.thumbs li,.thumbs ul {
	margin: 0;
}

.thumbs li {
	width: 188px;
	height: 188px;
}

.thumbs img {
	max-width: 200%;
	max-height: 100%;
}

	/*footer*/

footer {
	margin-bottom: 100px;
}


/*****Individual Band Page styling (Global)*****/



	/*header*/
	
	
	
.banner {
	width: 940px;
	height: 250px;
	
}

.banner img {
	max-width:100%;
	position: fixed;
}

#rightarrow {
	position: absolute;
	top: 75px;
	left: 840px;
	height: 50%
}

#leftarrow {
	position: absolute;
	top: 75px;
}

#leftarrow:hover {
	opacity: .5;
}

#rightarrow:hover {
	opacity: .5;
}


	/*main*/


article {
	line-height: 26px;
	margin-top: 20px;
	width: 100%;
	-webkit-columns:2;
	-moz-columns:2;
}

main {
	margin-top: 250px;
}

p {
	color: white;
	margin: 0 0 20px;	
}

#title {
	float: right;
	height: 460px;
	margin-top: 30px;
	width: 460px;
}

#title h1 {
	color: white;
	line-height: 460px;
	margin: 0;
	text-align: center;
}

.span6 {
	margin: 30px 0 30px 0;
}



	/*footer*/
	
	

.back {
	color: white;
	float: right;
	font-size: 25px;
	padding-top: 20px;
	text-align: center;	
}



/*****Individual hover link colors*****/



#animal-collective .back:hover,
#animal-collective .back:active {
	color: #A83EE6;
}

#animal-collective #title h1:hover {
	background-color: #111;
	color: #A83EE6;
}

#antarctic .back:hover,
#antarctic .back:active {
	color: #ccffff;
}

#antarctic #title h1:hover {
	background-color: #111;
	color: #ccffff;
}

#baths .back:hover,
#baths .back:active {
	color: #08c;
}

#baths #title h1:hover {
	background-color: #111;
	color: #08c;
}

#battles .back:hover,
#battles .back:active {
	color: #ff7dbd;
}

#battles #title h1:hover {
	background-color: #111;
	color: #ff7dbd;
}

#dmst .back:hover,
#dmst .back:active {
	color: #cbaaff;
}

#dmst #title h1:hover {
	background-color: #111;
	color: #cbaaff;
}